/*********************************************************************/
/***** BEGIN DESIGNPLUS THEME IMPORT & CUSTOMIZATION  ****************/
/*********************************************************************/
/* Import statements need to be at the top of your CSS file */

/* For Main CSS files */
@import url(https://designplus.ciditools.com/css/content.css);
@import url(https://designplus.ciditools.com/css/editor.css);
/* For Mobile app CSS file */
/*@import url(https://designplus.ciditools.com/css/mobile.css);*/

:root {
    --dt-color-primary: #0C2340;
    --dt-color-primary-contrast: #FFFFFF;
    --dt-color-primary-dark-text: #0C2340;
    --dt-color-secondary: #AE9142;
    --dt-color-secondary-contrast: #000000;
    --dt-color-secondary-dark-text: #5C4E22;
    --dt-color-accent: #000000;
    --dt-color-accent-contrast: #FFFFFF;
    --dt-color-accent-dark-text: #000000;
    --dt-color-gray: #CCCCCC;
    --dt-color-gray-contrast: #000000;
    --dt-color-gray-dark-text: #636363;
    --dt-color-white: #FFFFFF;
    --dt-color-white-contrast: #000000;
    --dt-color-white-dark-text: #707070;
}

/*********************************************************************/
/***** END DESIGNPLUS THEME IMPORT & CUSTOMIZATION   *****************/
/*********************************************************************/

/*
* This will adjust the color and opacity of the Canvas login box. You must set the RGB values (first three numbers)and the opacity value
*/
.ic-Login__content {
 background: rgba(0, 0, 0, 0.6);
}
    
    